* {
  font-family: Quicksand;
}

body {
  margin: 0px;
}

img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle
}

header {
  width: 100%;
  margin: 0px;
}

h1 {
  padding: 0px 50px;
}

h2 {
  color: white;
  background-color: gray;
  padding: 10px 50px;
}

#instructions {
  margin: 35px;
  margin-left: 50px;
}

#images {
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  clear:right;
}

#results {
  min-height: 40px;
  text-align: center;
  padding-bottom: 40px;
}


#allsuck {
  position: absolute;
  right: 70px;
  top: 220px;
}

button {
  padding: 10px 30px;
  background-color: #d5d5d7;
  border: 2px solid gray;
  transition: 200ms all;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #777777;
}

div {
  display: inline-block;
  width: 30%;
  height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 4px outset #d5d5d5;
  margin-right: 5px;
  cursor: pointer;
}

div:active {
  border: 4px inset #d5d5d5;
}

.end {
  border-color: #ef9999;
  cursor: default;
}

.end:active {
  border-color: #aa0000;
}

span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

li {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  line-height: 200%;
}

canvas {
  margin: 30px auto;
}
